In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("TSLA.csv")

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-09-18,25.350000,25.974001,25.178667,25.666668,25.666668,107820000
1,2017-09-19,25.333332,25.492666,24.904667,25.006666,25.006666,96778500
2,2017-09-20,24.866667,25.216667,24.738001,24.927334,24.927334,73786500
3,2017-09-21,24.993334,25.122000,24.300667,24.431999,24.431999,69273000
4,2017-09-22,24.432667,24.660000,23.392000,23.406000,23.406000,122391000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   Open       1259 non-null   float64
 2   High       1259 non-null   float64
 3   Low        1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Adj Close  1259 non-null   float64
 6   Volume     1259 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB

In [5]:
#data reduction
subset = df[['Date','Open','High']]
subset.head()

         Date       Open       High
0  2017-09-18  25.350000  25.974001
1  2017-09-19  25.333332  25.492666
2  2017-09-20  24.866667  25.216667
3  2017-09-21  24.993334  25.122000
4  2017-09-22  24.432667  24.660000

In [6]:
#data cleaning
subset.isnull().sum()

Date    0
Open    0
High    0
dtype: int64

In [7]:
subset2=df[['Low','Close','High']]
subset2.head()

         Low      Close       High
0  25.178667  25.666668  25.974001
1  24.904667  25.006666  25.492666
2  24.738001  24.927334  25.216667
3  24.300667  24.431999  25.122000
4  23.392000  23.406000  24.660000

In [8]:
#Data Integrataion
subset3 = pd.merge(subset,subset2,on='High')
subset3.head()

         Date       Open       High        Low      Close
0  2017-09-18  25.350000  25.974001  25.178667  25.666668
1  2017-09-19  25.333332  25.492666  24.904667  25.006666
2  2017-09-20  24.866667  25.216667  24.738001  24.927334
3  2017-09-21  24.993334  25.122000  24.300667  24.431999
4  2017-09-22  24.432667  24.660000  23.392000  23.406000

In [10]:
#Data transformation
subset3.to_excel('tesla_report.xlsx')